@font-face {
    font-family: "Pluto";
    src: url(PlutoBold.ttf)
} 


body {
      background-color: #d9d9d9;
      text-align: center;
      color:#333333;
      padding-top:10em;    
      font-family: 'Pluto', sans-serif;
      font-weight: bold;
}

    * { color:#333333; text-decoration: none;}

a {
    font-size: 3.5rem;
}